* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.active {
  background-color: #1d4ed8;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  /* gap: 50px; */
  align-items: center;
  background-color: #0f172a;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-size: 22px;
  text-transform: uppercase;



}

.navbar ul li a:hover {
  background-color: #172554;
}

.navbar ul li a:not(.active):hover {
  background-color: #172554;
}

.navbar .menu {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;

}






/* Hamburger menu icon */




@media screen and (max-width: 768px) {
  .navbar .menu {
    display: flex;
    position: relative;
    left: 50%;
    color: white;
  }

  .navbar {
    flex-direction: column;
    align-items: start;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    gap: 0.5rem;
  }

  .navbar ul.open {
    display: flex;
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
  }

  .navbar ul li a {
    margin: 0.2rem 0.5rem;
  }


}


